/* =================================================================== */
/* PURPLE #6957af
====================================================================== */

.home h1,
.about .box-stats h3,
.title-section h1 span,
#menu li.active a,
.contact .custom-span-contact i,
.portfolio .slideshow figcaption h3,
.portfolio .slideshow a,
.portfolio .grid figure:hover figcaption {
  color: #6957af;
}
.about .resume-box .icon,
.contact ul.social li a:hover,
.preloader .loader,
.portfolio .grid li figure div,
.header ul.icon-menu li.icon-box.active,
.header ul.icon-menu li.icon-box:hover,
.btn,
.header .icon-box h2,
.home .color-block,
.title-section hr,
.portfolio .slideshow .carousel-indicators li.active {
  background-color: #6957af;
}
.contact .contactform input[type="text"]:focus,
.contact .contactform input[type="email"]:focus,
.contact .contactform textarea:focus {
  border: 1px solid #6957af;
}